addict==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.1.1
crcmod==1.7
cryptography==44.0.2
cycler==0.12.1
einops==0.8.1
filelock==3.14.0
fonttools==4.57.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
jmespath==0.10.0
kiwisolver==1.4.7
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.7.5
mdurl==0.1.2
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
-e git+ssh://git@github.com/ChengHan111/DNC.git@5969d4e4f8033cf990049c7e053898d3c6fcb331#egg=mmcls&subdirectory=DNC_classification
mmcv-full==1.4.1
model-index==0.1.11
numpy==1.24.4
opencv-python==4.5.1.48
opendatalab==0.0.10
openmim @ git+https://github.com/open-mmlab/mim.git@b39fbd97303574a77f6acaed923fad41c781691c
openxlab==0.1.2
ordered-set==4.1.0
oss2==2.17.0
packaging==24.2
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
pycryptodome==3.22.0
Pygments==2.19.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2023.4
PyYAML==6.0.2
requests==2.28.2
rich==13.4.2
tabulate==0.9.0
timm==0.3.2
tomli==2.2.1
torch @ https://download.pytorch.org/whl/cu111/torch-1.8.1%2Bcu111-cp38-cp38-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cu111/torchvision-0.9.1%2Bcu111-cp38-cp38-linux_x86_64.whl
tqdm==4.65.2
tzdata==2025.2
urllib3==1.26.20
yapf==0.43.0
zipp==3.20.2
